<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Express-socket-io-boilerplate</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
  <header>
    <h1>EXPRESS-SOCKET.IO-BOILERPLATE</h1>
    <div class="socket">
      <div class="circle">
      </div>
    </div>
  </header>
  <nav>
    <a href="home-section" id="home-section-link">HOME</a>
    <a href="documentation" id="documentation-link">DOCUMENTATION</a>
  </nav>
  <main>
    <section id="home-section">
      <div id="side-panel">
          <h4>You are now connected to the socket.</h4>
          <p>Currently connected sockets: <span id="socket-count"></span></p>
          <p>Your socket id is: <span id="socket-id"></span></p>
      </div>
      <div class="chat">
        <h3>Say something!</h3>
        <form id="form">
          <input type="text" id="chat-message">
          <button id="chat-button">send</button>
        </form>
        <ul id="chat-list">
        </ul>
      </div>
    </section>
    <section id="documentation">
      <h2>DOCUMENTATION</h2>
      <p>Blah blah</p>
    </section>
  </main>
  <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
  <script src="index.js"></script>
</body>
</html>

