*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  padding: 1em;
  font-size: 70%;
  justify-content: center;
  align-items: center;
}
header h1{
  margin-left: auto;
  color: black;
  animation: animateTextColor 5s linear infinite;

}

main{
  flex-grow: 1;
  align-self: stretch;
  position: relative;
  display: flex;
  overflow: hidden;
}

section{
  position: relative;
  width: 100%;
  flex-grow: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#home-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 1;
}

#side-panel{
  box-sizing: border-box;
  position: relative;
  left: 0;
  display: inline-block;
  flex-direction: column;
  max-width: 50%;
  margin: 1em auto 1em 0;
  padding: 1em 1.5em;
  background-color: rgb(248, 248, 242);
  align-self: flex-start;
  font-size: .8em;
  box-shadow: 0 0 2px 1px  rgb(219, 219, 219);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  animation: slideInPanel 2s ease-out;
}

#side-panel>p{
  font-size: 90%;
}

#socket-id{
  font-size: 85%;
}
.socket{
  margin-left: 1em;
  margin-right: auto;
}

.circle{
  box-sizing: border-box;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border-color: black;
  border-width: .5em;
  border-style: solid;
  transform: scale(1);
  animation: animateLogo 5s linear infinite;
}

.chat{
  width: 60%;
  height: 70%;
  justify-self: flex-end;
  margin-bottom: 0;
  background-color: rgb(248, 248, 242);
  padding-left: .25em;
  padding-right: .25em;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#form{
  display: flex;
  flex-wrap: nowrap;
}

#chat-message{
  flex:4;
  padding: .5em 1em;
}

#chat-button{
  flex:1;
}

#documentation{
  width: 0;
  opacity: 0;
  background-color: rgb(248, 248, 242);
}

#chat-list{
  flex-grow: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 70%;
  margin-bottom: 0;
  overflow: scroll;
}

.list-item  {
  display: inline-block;
  max-width: 70%;
  padding: 1em;
  margin-bottom: 1rem;
  background-color: rgba(62, 177, 177, .7);
  opacity: 0;
  transition: opacity 2s, height 2s;
  height: 0;
}

.list-item:last-child{
  margin-bottom: .2em;
}

.left {
  margin-left: 0;
  margin-right: auto;
  opacity: 1;
  height: auto;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.right {
  margin-left: auto;
  margin-right: 0;
  opacity: 1;
  height: auto;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@keyframes animateLogo {
  0% {border-color: black;
      transform: scale(1)
      }
  20% {border-color: red;
      transform: scale(.96)}
  40% {border-color: blue;
      transform: scale(.92)}
  60% {border-color: orange;
      transform: scale(.9)}
  80% {border-color: green;
      transform: scale(.96)}
  100% {border-color: black;
        transform: scale(1)}
}

@keyframes slideInPanel{
  0% {left:-100%}
  100% {left: 0}
}

@keyframes animateTextColor {
  0% {color: black}
  20% {color: red}
  40% {color: blue}
  60% {color: orange}
  80% {color: green}
  100% {color: black}
}